/* Global styles*/

.brand_link {
  width: 25%;
  display: flex;
}
.logo_pic {
  height: 4em;
  width: auto;
}

.name_box {
  margin: auto 5px;
}

.c_easley {
  letter-spacing: 0.1em;
}

.filmmaker {
  display: flex;
  letter-spacing: 0.25em;
}

.menu {
  font-size: 25px;
}

.menu:hover {
  background: rgba(0, 0, 0, 0.65);
  font-size: 22px;
  color: aliceblue;
}

/* index page */
.pic_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.headline {
  position: absolute;
  font-size: 65px;
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
  margin: 0 20px;
  /* background-size: cover; */
  padding: 0 15px;
  width: 33%;
}

/* Project Page */
.project_sec {
  margin-top: 10px;
}

section h2 {
  background: rgba(0, 0, 0, 0.65);
  color: honeydew;
  margin-left: 2px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 2px rgb(6 6 10);
}

.pic_info {
  display: inline-block;
  align-items: start;
  justify-self: center;
}
.m_poster {
  box-shadow: 5px 5px 10px rgba(77, 77, 77, 0.5);
}

article h3 {
  position: relative;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.65);
  color: honeydew;
  margin-left: 2px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 2px rgb(6 6 10);
}

article h3 span {
  font-size: 18px;
  font-weight: 400;
}
